.section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  

  
  
  /* ------------------------ */
  .cards_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .card_list_item{
    width: 250px;
    min-height: 100px;
    padding: 10px 20px;
    background: linear-gradient(rgba(237,27,36,.85), rgba(237,27,36,.05) );
    color: white;
  }

  .blackoverlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
  }